<!DOCTYPE html>
<html>
 <head>
  	<% include ./head.html %>
  	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  	<link rel="stylesheet" href="../styles/articleStyle.css">
  	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Faustina" rel="stylesheet">
    <script src="../scripts/newscript.js"></script>
    <title>New</title
 </head>
 <body>
	 <header>
	 	<% include ./header %>
	 </header>
	 <div class="new-content">
            <div class="new-header">
                <%
                        var current=-1;
                        var i;
                        for(i=0; i< title.length; i++){
                            if(title[i].id==id) {
                                current = title[i];
                            }
                        }
                        for(j = 0; j < image.length; j++){
                            if(image[j].id === current.imageId){
                                url = image[j].url;
                                break;
                            }
                        }
                %>
                <div class="new-img">
                    <img src="../<%= url%>"/>
                </div>
                <div class="tag">
                	<span>news</span>
                </div>
                <div class="new-name">
                    <%=current.title%>
                </div>
            </div>
            <div class="new-body">
            	<span class="date">November 17, 2017</span>
            	<span class="new-body-body"><%=current.title%></span>
            </div>
            <div class="new-article">
            	<%=current.body%>
            </div>
            <div class="recent-stories">
            	<hr>
            	<span>recent news</span>
            </div>
            <div class="recent-list">
            	<%  for(i = title.length - 1; i >=0; i--){
                    if(i === (title.length - 4)) {break;}
                    count = count - 1
                    var url;
                    var j;
                    for(j = 0; j < image.length; j++){
                        if(image[j].id === title[i].imageId){
                            url = image[j].url;
                            break;
                        }
                    }
                    %>
            	<a href="../news/<%=title[i].id%>"><div class="recent-wrap-new <% if(i===(title.length-2)){%> center-recent-new <%}%>">
            	<div class="recent <% if(i===1){%> center-recent-New <%}%>"">
            		<div class="image-recent-st">
            			<img src="../<%= url%>"/>
            		</div>
            		<div class="describe-recent-st">
            			<%= title[i].title%>
            		</div>
            	</div>
            </div></a>
            	<% } %>
            </div>
      </div>
 </body>
 <footer>
 	<div class="footer">
 	<% include ./footer %>
 	</div>
 </footer>
 </html>
