<!DOCTYPE html>
<html>
     <head>
     <meta charset="utf-8">
            <% include ./head.html %>
            <link rel="stylesheet" href="../styles/championStyle.css">
            <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);

                  function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                      ['Task', 'Hours per Day'],
                      ['Janna',     11],
                      ['Azir',      2],
                      ['Fiora',  2],
                      ['Nami',    7]
                    ]);

                    var options = {
                        height: 250,
                        legend: { textStyle: {color: '#ffffff', fontSize: 14}},
                        pieSliceBorderColor: "none",
                        tooltip: {
                          trigger: "none"
                        }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                    chart.draw(data, options);
                  }
            </script>
            <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);

                  function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                      ['Task', 'Hours per Day'],
                      ['Janna',     11],
                      ['Azir',      2],
                      ['Fiora',  2],
                      ['Nami',    7]
                    ]);

                    var options = {
                        height: 250,

                        legend: { textStyle: {color: '#ffffff', fontSize: 14}},
                        pieSliceBorderColor: "none",
                        tooltip: {
                          trigger: "none"
                        }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

                    chart.draw(data, options);
                  }
            </script>
            <title>Champions</title>
     </head>
     <body>
    	 <header>
            <% include ./header %>
    	 </header>
         <div class="champion-content">
            <div class="champion-next">
                <a href="/champions"><p>view another<p></a>
                <span>champion</span>
            </div>
            <div class="background3"></div>
            <div class="background4"></div>
             <div class="champion-header">
                <div class="champion-img">
                    <video autoplay loop>
                      <source src="<%= mainChampion.imageBig %>" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="champion-name">
                    <%= mainChampion.name %>
                    <span><%= mainChampion.description %></span>
                </div>
                <div class="champion-header-stats">
                    <div class="champ-stats">
                        <%
                          var k;
                          var l;
                          var m;
                          for(k=0; k<winChampions.length; k++){
                              if(mainChampion.id === winChampions[k].key){
                                l = winChampions[k].value
                              }
                          }
                          for(k=0; k<pickChampions.length; k++){
                              if(mainChampion.id === pickChampions[k].key){
                                m = pickChampions[k].value
                              }
                          }
                        %>

                        <span class="value-stat"><%= l%>%</span>
                        <span class="title-stat">win rate</span>
                    </div>
                    <div class="divider"></div>
                    <div class="champ-stats">
                        <span class="value-stat"><%= m%>%</span>
                        <span class="title-stat">popularity</span>
                    </div>
                    <div class="divider"></div>
                    <div class="champ-stats">
                        <span class="value-stat">52.9%</span>
                        <span class="title-stat">kda</span>
                    </div>
                </div>
                <div class="background"></div>
                <div class="background2"></div>
             </div>
             <div class="champion-history-wrap clean">
                <div class="champion-description">
                    Statistics
                </div>
                <div class="content-info-ch">
                     <div class="win-stat-ch">
                        <div class="header-graph1">Heighst WinRate as Support</div>
                        <div id="piechart"></div>
                     </div>
                     <div class="win-stat-ch">
                        <div class="header-graph2">Heighst PickRate as Support</div>
                        <div id="piechart2"></div>
                     </div>
                </div>
            </div>
             <div class="champion-history-wrap">
                <div class="champion-description">
                    History
                </div>
                <div class="champion-text">
                    <%= mainChampion.history%>
                </div>
             </div>
         </div>
         <footer>
            <div class="footer">
                <% include ./footer %>
            </div>
        </footer>
     </body>
 </html>
