<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
        <% include ./head.html %>
        <link rel="stylesheet" href="../styles/indexstyles.css">
        <title>Main2</title>
 </head>
 <body>
	 <header>
        <% include ./header %>
	 </header>
	 <div class="sliders-content">
	 	<div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <input type="radio" id="button-4" name="controls"/>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../images/slide11.jpg" />
                </li>
                <li id="slide2">
                    <img src="../images/slide22.jpg" />
                </li>
                <li id="slide3">
                    <img src="../images/slide33.jpg" />
                </li>
            </ul>
        </div>
    	</div>
    	<div class="description-slide" id="description-slide1">
    		<div class="header-slide">
              	The Strongest champion ever!
   			 </div>
   			 <div class="text-slide">
                    <p>Katarina is an Ability Power based Assassin all about dancing around your enemies by using your daggers to jump to and from locations.</p>
            </div>
    	</div>
    	<div class="description-slide" id="description-slide2">
    		<div class="header-slide">
              	Faker is a god!
   			 </div>
   			 <div class="text-slide">
                    <p>Master a champion, then master MOBAFire and if you have a bit of luck you just might claim one of the top spots for a champion. This one here... It's reserved for Katarina's master</p>
            </div>
    	</div>
    	<div class="description-slide" id="description-slide3">
    		<div class="header-slide">
              	Subscribe our social networks
   			 </div>
   			 <div class="text-slide">
                    <p>Despite not being in a high elo at the moment I still want to share my knowledge. It may not be the best guide.</p>
            </div>
    	</div>
	</div>
	<div class="news-content">
		<div class="container-add">
				<div class="add">
					<img id="top-add" src="../images/add.jfif"/>
				</div>
    	</div>
    	<div class="news-list">
    		<div class="header-top-new">
    			<hr/>
    			<span>top news</span>
    		</div>
    		<% var urlMain
    				for(j = 0; j < image.length; j++){
	                    if(image[j].id === title[main].imageId){
	                        urlMain = image[j].url;
	                        break;
	                    }
	                } %>
	    	<a href="/news/<%=title[main].id%>"><div class="top-new">
	    		<div class="image-new">
	    			<img src="<%= urlMain %>"/>
	    		</div>
	    		<div class="header-new">
	              	<%= title[main].title %>
	           	 </div>
	   			 <div class="text-new">
	                   <p><%= title[main].body %></p>
	            </div>
	    	</div></a>
	    	<div class="header-top-new">
    			<hr/>
    			<span>recent stories</span>
    		</div>
    		<div class="recentnews">
    			<%  for(i = title.length - 1; i >=0; i--){
    				if(i === (title.length - 4)) {break;}
    				count = count - 1
    				var url;
	                var j;
	                for(j = 0; j < image.length; j++){
	                    if(image[j].id === title[i].imageId){
	                        url = image[j].url;
	                        break;
	                    }
	                }
    				%>
					<a href="/news/<%=title[i].id%>"><div class="recent-new">
			    		<div class="image-recent">
			    			<img src="<%= url %>"/>
			    		</div>
			    		<div class="describe-recent">
				    		<div class="header-recent">
				              	<%= title[i].title %>
				           	 </div>
				   			 <div class="text-recent">
				                <p><%= title[i].body %>
								</p>
				            </div>
			            </div>
		    		</div><a><%
				}%>
			    <div class="invisible">
			    </div>
	    	</div>
	    	<div id="showmore-button">
	    		Show More News
	    	</div>
	    	<div id="loading">
	    		<img src="../images/loading.gif" />
	    	</div>
    	</div>
    	<div class="news-add">
    		<div class="side-add">
					<img src="../images/add2.jfif"/>
			</div>
    	</div>
    	<div class="footer">
	    	<% include ./footer %>
    	</div>
    </div>
 </body>
 </html>
