<!DOCTYPE html>
<html>
     <head>
     <meta charset="utf-8">
            <% include ./head.html %>
            <link rel="stylesheet" href="../styles/itemstyles.css">
            <script src="../scripts/itemsscript.js"></script>
            <title>items</title>
     </head>
     <body>
    	 <header>
            <% include ./header %>
    	 </header>
         <div class="items-header">
             <div class ="items-header-head">
                Items
            </div>
         </div>
         <div class="items-content">
            <div class="item-top-pick">
                <div class="item-top-pick-header">
                    Top most winrate items
                </div>
                <div class="item-top-pick-content">
                <div class="wrap-items">
                <%  
                    var i;
                    var count = 0;
                    for(i = 0; i < winItems.length; i++){
                        var urlT="ddd";
                        if(count === 5 ) {break;}
                        count++; 
                        var j;
                        var c;
                        var m;
                        for(k = 0; k < items.length; k++){
                            if(k>=pickItems.length) {break;}
                            if(winItems[i].key === items[k].id){
                                c = items[k];
                            }
                            if(pickItems[k].key === winItems[i].key){
                                m = pickItems[k].value;
                            }
                        }
                        for(j = 0; j < itemsImages.length; j++){
                            if(itemsImages[j].id === c.imageId){
                                urlT = itemsImages[j].url;
                                break;
                            }
                        }
                    %>
                    <div class="item-tp-wrap">
                        <div class="item-tp-item">
                             <div class="item-tp-img">
                                 <a href="/items/<%=winItems[i].key%>"><img src="<%= urlT %>"/></a>
                             </div>
                             <div class="item-tp-icon">
                                 <span class="fa fa-trophy icon-itemWin-tp"></span>
                                 <span class="fa fa-heart icon-itemPick-tp"></span>
                             </div>
                             <div class="items-des-tp">
                                 <div class="items-block-Win-tp">
                                     <%= winItems[i].value %>%
                                 </div>
                                 <div class="items-block-Pick-tp">
                                     <%=m%>%
                                 </div>
                             </div>
                         </div>
                         <div class="item-tp-name"> <p><%= c.name %></p> </div>
                     </div>
                     <% } %>
                </div>
                </div>
            </div>


            <div class="item-top-pick">
                <div class="item-top-win-header">
                    Top most picked items
                </div>
                <div class="item-top-pick-content">
                <div class="wrap-items">
                <%  
                    var i;
                    var count = 0;
                    for(i = 0; i < pickItems.length; i++){
                        var urlT="ddd";
                        if(count === 5 ) {break;}
                        count++; 
                        var j;
                        var c;
                        var m;
                        for(k = 0; k < items.length; k++){
                            if(k>=pickItems.length) {break;}
                            if(pickItems[i].key === items[k].id){
                                c = items[k];
                            }
                            if(winItems[k].key === pickItems[i].key){
                                m = winItems[k].value;
                            }
                        }
                        for(j = 0; j < itemsImages.length; j++){
                            if(itemsImages[j].id === c.imageId){
                                urlT = itemsImages[j].url;
                                break;
                            }
                        }
                %>
                    <div class="item-tp-wrap">
                        <div class="item-tp-item">
                             <div class="item-tp-img">
                                 <a href="items/<%= pickItems[i].key%>"><img src="<%= urlT %>"/></a>
                             </div>
                             <div class="item-tp-icon">
                                 <span class="fa fa-trophy icon-itemWin-tp"></span>
                                 <span class="fa fa-heart icon-itemPick-tp"></span>
                             </div>
                             <div class="items-des-tp">
                                 <div class="items-block-Win-tp">
                                     <%=m%>%
                                 </div>
                                 <div class="items-block-Pick-tp">
                                     <%=pickItems[i].value%>%
                                 </div>
                             </div>
                         </div>
                         <div class="item-tp-name"> <p><%= c.name %></p> </div>
                     </div>
                     <% } %>
                </div>
                </div>
            </div>


            <div class="item-top-pick">
             <div class="items-search">
                <p>all items</p>
                <div class="item-search-block">
                    <input type="text" size="40" placeholder="item name" />
                    <button id="item-search-button">
                        <span class="fa fa-search" id="item-search-icon"></span>
                    </button>
                </div>
             </div>
             <div class="items-filter">
                 <div class="filter-sort">
                    <div class="filter-type-header">
                        <p>sort by:</p>
                        <div class="filter-type-ways">
                            <div class="filter-type-way">
                                <div class="filter-type-logo first-sort" id="sort">
                                    <img src="../images/sortAZ.png"></img>
                                </div>
                                <div class="filter-type-text">
                                    a-z
                                </div>
                            </div>
                            <div class="filter-type-way">
                                <div class="filter-type-logo">
                                    <img src="../images/sortZA.png"></img>
                                </div>
                                <div class="filter-type-text">
                                    z-a
                                </div>
                            </div>
                            <div class="filter-type-way">
                                <div class="filter-type-logo">
                                    <img src="../images/win-icon.png"></img>
                                </div>
                                <div class="filter-type-text">
                                    win
                                </div>
                            </div>
                            <div class="filter-type-way">
                                <div class="filter-type-logo">
                                    <img src="../images/like.png"></img>
                                </div>
                                <div class="filter-type-text">
                                    popular
                                </div>
                            </div>
                        </div>    
                    </div>
                 </div>
             </div>

             <div class="items-list">
                <div class="items-list-wrap">
                <div class="wrap-items test-wrap">
                    <% 
                    var i;
                    for(i=0; i<items.length; i++){
                    var urlG;
                    var c;
                    var p;
                        for(j = 0; j < itemsImages.length; j++){
                            if(itemsImages[j].id === items[i].imageId){
                                urlG = itemsImages[j].url;
                                break;
                            }
                        }
                        var k;
                        for(k=0; k< winItems.length; k++){
                            if(winItems[k].key===items[i].id){
                                c = winItems[k].value;
                            }
                        }
                        for(k=0; k< pickItems.length; k++){
                            if(pickItems[k].key===items[i].id){
                                p = pickItems[k].value;
                            }
                        }
                    %>
                    <div class="item-wrap test-item">
                        <a href="/items/<%= items[i].id %>">
                        <div class="item-item">
                             <div class="item-item-img">
                                 <img src="<%= urlG %>"/>
                             </div>
                             <div class="item-icon">
                                 <span class="fa fa-trophy icon-itemWin"></span>
                                 <span class="fa fa-heart icon-itemPick"></span>
                             </div>
                             <div class="items-des">
                                 <div class="items-block-Win">
                                     <%=c %>%
                                 </div>
                                 <div class="items-block-Pick">
                                     <%=p %>%
                                 </div>
                             </div>
                         </div>
                         </a>
                         <div class="item-name"> <p><%=items[i].name %></p> </div>
                     </div>
                     <% } %>
                </div>
                </div>
             </div>

         </div>

         <footer>
            <div class="footer">
                <% include ./footer %>
            </div>
        </footer>	
     </body>
 </html>