<!DOCTYPE html>
<html>
     <head>
     <meta charset="utf-8">
            <% include ./head.html %>
            <link rel="stylesheet" href="../styles/statStyle.css">
            <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
            <script src="../scripts/statscript.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load("visualization", "1", {packages:["corechart"]});

                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                    ['Content', 'Size'],
                    ['Photos',     <%= data.vision %>],
                    ['',    <%=100-data.vision %>]
                  ]);

                  var options = {
                    title: "",
                    pieHole: 0.7,
                    pieSliceBorderColor: "none",
                     colors: ['rgb(31, 117, 177)', 'rgb(50, 50, 50)' ],
                    legend: {
                      position: "none"  
                    },
                    pieSliceText: "none",
                    tooltip: {
                      trigger: "none"
                    },
                    enableInteractivity: false
                  };

                  var chart = new google.visualization
                      .PieChart(document.getElementById('chart'));
                        
                  chart.draw(data, options);
                  
                }
              </script>
              <script type="text/javascript">
                google.charts.load("visualization", "1", {packages:["corechart"]});

                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                    ['Content', 'Size'],
                    ['Photos',     <%=recent.maxRole%>],
                    ['',      <%=recent.length - recent.maxRole %>]
                  ]);

                  var options = {
                    title: "",
                    pieHole: 0.7,
                    pieSliceBorderColor: "none",
                     colors: ['rgb(31, 117, 177)', 'rgb(50, 50, 50)' ],
                    legend: {
                      position: "none"  
                    },
                    pieSliceText: "none",
                    tooltip: {
                      trigger: "none"
                    },
                    enableInteractivity: false
                  };

                  var chart = new google.visualization
                      .PieChart(document.getElementById('chart2'));
                        
                  chart.draw(data, options);
                  
                }
              </script>
            <title>stats</title>
     </head>
     <body>
    	 <header>
            <% include ./header %>
    	 </header>
         <div class="stat-content">
            <div class="helper">#</div>
            <div class="raiting"><%=data.leagueName%></div>
            <div class="server"><%=data.server%></div>
            <div class="stat-next">
            </div>
            <div class="background3"></div>
            <div class="background4"></div>
            <div class="stat-img2">
                <img src="../images/font-stat4.png"/>
            </div>
            <div class="stat-plat">
                <img src="../images/platinum.png"/>
            </div>
            <div class="stat-lenta">
                <img src="../images/lenta.png"/>
            </div>
             <div class="stat-header">
                <div class="stat-img">
                    <img src="../images/back-stat4.jpg"/>
                </div>
                <div class="stat-name">
                    <%=data.name%>
                </div>
                <div class="stat-header-stats">
                    <div class="champ-stats">
                        <span class="value-stat">1970</span>
                        <span class="title-stat">lk score</span>
                    </div>
                    <div class="divider"></div>
                    <div class="champ-stats">
                        <span class="value-stat"><%=data.tier%> <%=data.rank%></span>
                        <span class="title-stat"><%=data.leaguePoints%>Points</span>
                    </div>
                    <div class="divider"></div>
                    <div class="champ-stats">
                        <span class="value-stat"><%= parseInt((data.wins/(data.losses + data.wins))*100) %>%</span>
                        <span class="title-stat">win rate</span>
                    </div>
                </div>
                <div class="background"></div>
                <div class="background2"></div>
             </div>
             <div class="stat-history-wrap">
                <div class="content-info-ch" id="stat1">
                      <div class="chart-container">
                     <div id="donutchart" class="col-xs-12 col-sm-6 col-md-4">
                        <div id="chart"></div>
                        <div id="labelOverlay">
                          <p class="used-size"><%= data.vision %>%</p>
                        </div>
                      </div>
                      <div class="chart-text">vision</div>
                      </div>
                      <div class="chart-container" id="last-chart-cont">
                     <div id="donutchart" class="col-xs-12 col-sm-6 col-md-4">
                        <div id="chart2"></div>
                        <div id="labelOverlay">
                          <p class="used-size"><%= parseInt((recent.maxRole/recent.length)*100) %>%</p>
                        </div>
                      </div>
                      <div class="chart-text"><%=recent.maxName%></div>
                      </div>
                      <div class="win-stat">
                          <span class="value-stat-win"><%=data.kills%></span>
                          <span class="divider-stat-win">|</span>
                          <span class="value-stat-win"><%=data.assists%></span>
                          <span class="divider-stat-win">|</span>
                          <span class="value-stat-win"><%=data.deaths%></span>   
                          <div class="win-los">
                            <span class="win"><%= parseInt((data.wins/(data.losses + data.wins))*20) %></span>
                            -
                            <span class="lost"><%= 20 - parseInt((data.wins/(data.losses + data.wins))*20) %></span>
                          </div>  
                          <div class="sub">
                            avg kda
                          </div>                
                      </div>
                </div>   
                <div class="content-info-ch" id="stat2">
                    <div id="first">Damage: <%=data.damage%></div>
                    <div>Gold: <%=data.gold%></div>
                    <div>Champ level: <%=data.champ%></div>
                </div>   
                <div class="content-info-ch" id="stat3">
                    <div class="list-roles-1">
                      <div class="stat-role">
                          <img src="../images/top-icon4.png"/>
                          <span><%=recent.top%></span>
                      </div>
                      <div class="stat-role">
                          <img src="../images/mid-icon.png"/>
                          <span><%=recent.mid%></span>
                      </div>
                      <div class="stat-role">
                          <img src="../images/jungle-icon.png"/>
                          <span><%=recent.jungle%></span>
                      </div>
                    </div>
                    <div class="list-roles-2">
                      <div class="stat-role">
                          <img src="../images/bot-icon.png"/>
                          <span><%=recent.adc%></span>
                      </div>
                      <div class="stat-role">
                          <img src="../images/sup-icon.png"/>
                          <span><%=recent.support%></span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="stat-history-wrap second-wrap" id="table">
            <div class="stat-description">
              statistics
            </div>
             <table>
              <tr class="title-table">
                <th>Champ</th>
                <th>win</th>
                <th>los</th>
                <th>game</th>
                <th>winratio</th>
                <th>kills</th>
                <th>deaths</th>
                <th>assists</th>
                <th>creeps</th>
              </tr>
              <% 
                var i;
                for(i=0; i < 10; i++){%>
                <tr class="content-table">
                  <td><div class="hero-main table-icon-champ">
                        </div></td>
                  <td><%= i%2 %></td>
                  <td><%= i%3 %></td>
                  <td><%= i%4 %></td>
                  <td><%= i%5 %></td>
                  <td><%= i%6 %></td>
                  <td><%= i%7 %></td>
                  <td><%= i%8 %></td>
                  <td><%= i%9 %></td>
                </tr>
              <% } %>
             </table>
             </div>
             </div>
         <footer>
            <div class="footer">
                <% include ./footer %>
            </div>
        </footer>	
     </body>
 </html>